html {
    font-size: 62.5%;
}

.intro {
    background: #F9F9FA;
    padding: 80px 0px;
    text-align: center;
}

.subheadline {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    background: linear-gradient(90deg, #4343FF 0%, #F96D6D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 22px;
}

.intro__title {
    font-family: 'GalanoGrotesque-Medium';
    font-size: 4.6rem;
    line-height: 120%;
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.solutions {
    display: grid;
    gap: 30px 35px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 105px;
}

.solutions__card {
    grid-column: span 1;
    background: white;
    padding: 22px;
    max-width: 390px;
    text-align: left;
    /* margin: 0px 100px; */
}

.solution__title {
    font-size: 1.7rem;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.solution__desc {
    font-size: 1.7rem;
    line-height: 26px;
    max-width: 343px;
    margin-bottom: auto;
}

@media screen and (max-width: 770px) {
    .solutions__card {
        grid-column: span 6;
        margin: auto 100px;
    }
}