html {
    font-size: 62.5%;
}

.intro {
    background: #F9F9FA;
    padding: 80px 0px;
    text-align: center;
}

.subheadline {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    background: linear-gradient(90deg, #4343FF 0%, #F96D6D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 22px;
}

.intro__title {
    font-family: 'GalanoGrotesque-Medium';
    font-size: 4.6rem;
    line-height: 120%;
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.solutions {
    display: grid;
    gap: 30px 35px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 105px;
}

.solutions__card {
    grid-column: span 1;
    background: white;
    padding: 22px;
    max-width: 390px;
    text-align: left;
}

.solution__title {
    font-size: 1.7rem;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.solution__desc {
    font-size: 1.7rem;
    line-height: 26px;
    max-width: 343px;
    margin-bottom: auto;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info__conditions {
    padding: 170px 0px 170px 130px;
}

.info__conditions-title {
    font-size: 3.6rem;
    line-height: 38px;
    color: #56565A;
}

.info__conditions-desc {
    font-family: 'Source Sans Pro';
    font-size: 1.6rem;
    line-height: 22px;
}

.info__buttons {
    display: flex;
    flex-direction: row;
}

.info__conditions-button {
    font-family: 'Source Sans Pro';
    font-size: 1.6rem;
    line-height: 20px;
    white-space: nowrap;
    color: white;
    background: #0A467E;
    padding: 12px 40px;
    border: 0;
    margin-right: 15px;
}

.info__cards {
    display: flex;
    padding: 60px 220px 60px 60px;
    gap: 20px;
}

.info__cards-line {
    display: flex;
    flex-direction: column;
}

.info__cards-card-1 {
    align-content: center;
    padding: 22px 25px;
    background: #F7F7F7;
    margin-bottom: 15px;
    height: 100%;
}

.info__cards-card-2 {
    align-content: center;
    padding: 100px 25px;
    background: #F7F7F7;
    margin-bottom: 15px;
    height: 100%;
}

.info__card-pic {
    padding: 0 120px;
}

.info__cards-card-title {
    font-size: 1.8rem;
    line-height: 22px;
    text-align: center;
    color: #56565A;
    padding: 0 45px;
}

.info__cards-card-title::after {
    display: block;
    content: '';
    width: 170px;
    height: 1px;
    background: #E5E5E5;
    margin-top: 15px;
}

.info__cards-card-desc {
    font-family: 'Source Sans Pro';
    font-size: 1.4rem;
    line-height: 19px;
    text-align: center;
    margin: 0 25px;
    color: #56565A;
}

@media screen and (max-width: 770px) {
    .solutions {
        display: flex;
        flex-direction: column;
    }
    .solutions__card {
        grid-column: span 3;
        gap: 20px;
    }
    .info {
        display: flex;
        flex-direction: column;
    }
    .info__conditions {
        padding: 40px 100px;
    }
    .info__conditions-title {
        text-align: center;
        font-size: 3.6rem;
        line-height: 38px;
        color: #56565A;
    }
    .info__buttons {
        justify-content: center;
    }
    .info__cards {
        display: flex;
        flex-direction: column;
        padding: 60px;
    }
    .info__card-pic {
        padding: 0 290px;
    }
    .info__cards-card-2 {
        align-content: center;
        padding: 22px 25px;
        background: #F7F7F7;
        margin-bottom: 15px;
        height: 100%;
    }
    .info__cards-card-title::after {
        display: block;
        position: absolute;
        content: '';
        width: 170px;
        height: 1px;
        text-align: center;
        background: #E5E5E5;
        margin-top: 10px;
        left: 47%;
        margin-left: -57px;
    }
}